/* .banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
 */
header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $background-header;

  .header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header__texto{
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .titulo__portal a {
    margin-top: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__texto{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
}

