body {
    font-family: 'Sarabun', sans-serif;

    p {
        font-size: 18px
    }

    h2 {
        font-size: 36px;
    }

    background: #f7f7f7;

}
.hero {
  /* background-image: url(../images/hero.png);
  background-size: cover;
  background-position: 50% 0; */
   margin-top:0px;
  
    min-height: 350px;


    overflow: hidden;
    position:relative;
  .row {
    padding-top: 80px;
    padding-bottom: 80px;

    .hero__titulo {
      color: white;
      font-weight: 600;
      font-size: 36px;
    } 

    .hero__texto {
      color: white;
      text-align: center;
      max-width: 850px;
    }

    .hero__buscador {
      max-width: 750px;
      padding-top: 20px;

      .form-control {
        padding: 22px;
      }

      button {
        background: white;
        border: 1px solid white;
        &:hover{
          background:#4a4a4c;
          border:1px solid #4a4a4c;
          color:#fff;
        }
      }
    }

  }
      .hero__img {
        position: absolute;
        width:100%;
        display: block; 
        z-index: -1; 
        text-align:center;
        bottom:0;
        img{
            display: block;
            margin:auto;
            width:100%;
            height:auto;
            text-align:center;
        }
    }
}
#sidebar{
  padding:2em 2em 2em 0;
}

.categorias {
  background: $background-categorias;
  padding-top: 100px;
  padding-bottom: 100px;

  .categorias__titulo {
    margin-bottom: 50px;
  }

  .categorias__enlace {
    height: 90px;
    display: block;
    background: $background-texto-categorias;
    border-radius: 8px;
    max-width: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    .categorias_enlace_icon {
      position: relative;
      display: inline-block;
      width: 35%;
      float: left;
      color: white;
      background: $background-iconos-categorias;
      height: 90px;
      text-align: center;
      line-height: 90px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin: auto;
      font-size: 2em;
    }

    .categorias__texto {
      display: flex;
      align-items: center;
      position: relative;
      width: 65%;
      float: left;
      padding: 0 0 0 15px;
      margin: auto;
      line-height: 1.3em;
      height: 90px;
      font-size: 1.2em;
      color: white;
      font-weight: 400;
      text-align: middle;
      vertical-align: middle;
    }
  }

  .categorias-segunda-linea {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.acceso-informacion {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $background-acceso-informacion;

  .tituloModulo {
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight: 600;
  }

  .contenidoModulo {
    text-align: center;
  }

  .btnTransparencia {
    width: 200px;
    display: block;
    position: relative;
    margin: 20px auto 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    background: $color-btn-dark;
    border-color: $color-btn-dark;

    &:hover {
      background: $color-btn-dark-hover;
      color: white;
      border-color: white;
    }

    &:focus {
          background: $color-btn-dark;
    border-color: $color-btn-dark;
    box-shadow: none;
    }

    }
  }


.btn-primary:not(:disabled):not(.disabled):active{
  background: $color-btn-dark !important;
  border-color: $color-btn-dark !important;
}

.accesos-directos {
  .accesosdirectos__title {
    text-align: center;
    margin-bottom: 100px;
  }

  background: $background-organismos;
  padding-bottom: 100px;
  padding-top: 100px;
  overflow: hidden;

  .bloques-organismos {
    .accesos-directos__img {
      display: block;
      text-decoration: none;
      color: #343a40;
      margin-left: auto;
      margin-right: auto;
      max-width: 350px;
      margin-bottom: 50px;
      -webkit-box-shadow: 0 0 4px 3px rgba(219, 216, 219, 1);
      -moz-box-shadow: 0 0 4px 3px rgba(219, 216, 219, 1);
      box-shadow: 0 0 4px 3px rgba(219, 216, 219, 1);

      h3 {
        height: 120px;
        line-height: 28px;
        font-weight: 600;
        text-decoration: none;
        background: white;
        padding: 25px 10px 30px 20px;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        color: black;
      }

      .tribunal-superior-de-justicia_texto {
        border-top: 5px solid $color_tsj;
      }

      .consejo-de-la-magistratura_texto {
        border-top: 5px solid $color_cdm;
      }

      .ministerio-publico-de-la-defensa_texto {
        border-top: 5px solid $color_def;
      }

      .ministerio-publico-fiscal_texto {
        border-top: 5px solid $color_mpf;
      }

      .ministerio-publico-tutelar_texto {
        border-top: 5px solid $color_mpt;
      }
    }
  }
  .accesos-directos__img--bottom--1 {
    float: right;
  }

  .accesos-directos__img--bottom--2 {
    float: left;
  }
}
.list_recursos{
  padding:0;
  list-style:none;
  margin:0;
}
.list_recursos li{
  border-bottom:1px solid #ddd;
  margin-bottom:20px;
  padding-bottom:5px;
}
.list_recursos li a{
  color:#333; 
  &:hover{
    text-decoration:none;
  } 
}
.list_recursos .icon-format{
  font-size:26px;
  width:35px;
  display:inline-block;
  text-align:center;
}
.ley-104 {
  background: $background-ley-104;
  padding-top: 50px;
  padding-bottom: 50px; 
  .ley-104__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 0; 
  }

  .btn-descargar {
    display: block;
    text-transform: uppercase;
    background: transparent;
    border-color: white;
    max-width: 190px;


    &:hover {
      background: #4a4a4c;
      color: white;
      border-color: #4a4a4c;
    }
  }

  .btn-ver {
    display: block;
    float: center;
    text-transform: uppercase;
    min-width: 115px;
    background: $color-btn-dark;
    border-color: $color-btn-dark;

    &:hover {
      background: $color-btn-dark-hover;
      color: white;
      border-color: white;
    }

    &:focus {
    background: $color-btn-dark;
    border-color: $color-btn-dark;
    box-shadow: none;
    }
  }
} 
#ajaxsearchprobsettings1_1 {  
  padding-left: 0;
  legend{
    font-size: 1.75rem;
  }
  .titulo-side-bar {
    margin-bottom: 20px;
  } 
  .asp_simplebar-content {
    padding-left: 0; 
    .asp_option_cat  {
      list-style: none;
      padding: 10px 5px;
      border: 1px solid transparent; 
      margin:0;
      &:hover {
        background: #e0e0e0;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
      } 
    }
  }

  .container-busqueda__title {
    padding: 50px 0 0 0;
    font-weight: 600;
  }

  .container-busqueda__text {
    margin-bottom: 50px;
    font-size: 16px;
  }

  .widget-categorias {
    margin-bottom: 100px;
  }

  .widget-organismos {
    margin-bottom: 100px;

    .lista__organismos {
      padding-left: 0;
      list-style: none;

      .elemento__organismos {
        list-style: none;
        padding: 5px;
        border: 1px solid transparent;


                .item__organismos {
                    border-left: 4px solid;
                    padding-left: 10px;
                    text-decoration: none;
                    color: #4A4A4C;
                    font-size: 16px;
                    line-height: 16px;
                }

                .item__organismos--tsj {
                    border-color: $color_tsj;
                }

                .item__organismos--cdm {
                    border-color: $color_cdm;
                }

                .item__organismos--def {
                    border-color: $color_def;
                }

                .item__organismos--mpf {
                    border-color: $color_mpf;
                }

                .item__organismos--mpt {
                    border-color: $color_mpt;
                }

            }
        }
    }

    .widget-formatos {
        margin-bottom: 100px;

        .lista-formatos {
            padding-left: 0;
            list-style: none;

            .elemento__formatos {
                list-style: none;
                padding: 10px 5px;
                border: 1px solid transparent;


                a {
                    text-decoration: none;
                    color: #4A4A4C;
                    font-size: 16px;
                    line-height: 16px;

                    span {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

}

.home{ 
  .searchsettings  {
    display: none !important;
    visibility: hidden !important;
  }
}

#contenido-busqueda {
    //background: white;
    padding: 50px 20px;
    height: 100%;

    .form__busqueda {
         
      border: 1px solid $color-borde-buscador;
        border-right: none;
        font-size: 16px;
    }

    .btn {
        border: 1px solid $color-borde-buscador;
        border-left: none;
        font-size: 16px;
        color: $color-lupa-buscador;
        &:hover,
        &:active{
          color:#fff;
          outline:none;
          box-shadow: none;
          i{
            color:#fff;
          }
        }
        
    }

    .informes { 
      .informe_bloque{
        display:block;
        padding:15px 20px;
        margin-bottom:30px;
        //border-bottom: 2px solid $color-separador-auditorias;
        background:#fff;
        border-radius:10px;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(227,227,227,1);
        -moz-box-shadow: 5px 5px 15px 0px rgba(227,227,227,1);
        box-shadow: 5px 5px 15px 0px rgba(227,227,227,1);
        transition: box-shadow 0.3s ease-in-out;
        text-decoration: none;
        color: inherit; 


        .title__informes {
            margin: 5px 0 15px 0; 
        }

        .text__informes {   
            margin: 0 0 5px 0;
        }

        .btn__informes { 
            display: inline-block; 
            color:$gray-800 ;
            padding: 2px 5px;
            border-radius: 5px;
            margin: 5px 3px 5px 0;
            text-decoration: none;
            font-size: 14px;
            &:hover{ 
              background:$gray-200; 
            }
        }
        .btn__informes_org {
          display: inline-block; 
          color:$gray-800 ; 
          margin: 5px 3px 5px 0;
          text-decoration: none;
          font-size: 14px; 
      }
        .btn__informes_formato { 
            display: inline-block; 
            color:$gray-800 ;
            padding: 2px 5px; 
            margin: 5px 3px 5px 0;
            text-decoration: none; 
            font-size: 18px;
        } 

        .btn__informes--cdm2,
        .btn_informes--cdm {
            border-color: $color_cdm; 
            color: $color_cdm; 
        }

        .btn__informes--def {
            border-color: $color_def;
            color: $color_def; 
        }

        .btn__informes--mpf {
            border-color: $color_mpf;
            color: $color_mpf; 
        }

        .btn__informes--mpt {
            border-color: $color_mpt;
            color: $color_mpt; 
        }

        .btn__informes--tsj {
            border-color: $color_tsj;
            color: $color_tsj; 
        }
        .btn__pdf {
            color: $color-btn-pdf;
            text-decoration: none;
            border: 1px solid $color-btn-pdf;
 
            &:hover {
                background: $color-btn-auditoria;
                color: black;
                border-color: $color-btn-auditoria;
            }
        }

        .btn__categoria{
            float: right;
            display: inline-block; 
            color:$gray-800 ;
            padding: 2px 5px; 
            margin: 5px 3px 5px 0;
            text-decoration: none;
            font-size: 14px;
            background:$gray-200;  
        } 
        &:hover{ 
        -webkit-box-shadow: 0px 0px 15px 0px rgba(227,227,227,1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(227,227,227,1);
        box-shadow: 0px 0px 15px 0px rgba(227,227,227,1);   
        }
      }
    }

    .informes:last-child {
        border-bottom: none;
    }
}

.migas-de-pan {
    background: $color-gris-contenido;
    padding: 10px;

     a {
        span {
            text-decoration: none;
            color: $color-gris-migapan;
            text-decoration:underline;
            padding-right: 5px;
            padding-left: 5px;  
        }

        &:hover{
          text-decoration: none !important;
        }
    }
    .migas-de-pan__item--active {
        color: #000 !important;
        text-decoration:none;
        padding-left: 5px;
    }
    .migas-de-pan__separador--form{
      color: $color-gris-migapan;
    }
}


/* Seccion formulario */
.page-template-template-contacto{
  .migas-de-pan--formulario {
  
      z-index: 999;
      display: block;
      position: relative;
      background: rgba(0, 0, 0, 0.7) !important;
      z-index: 999;
  
      a {
          .migas-de-pan__item--form {
              color:#bebebe !important;
          }
  
      }
      .migas-de-pan__item--active{
        color:#fff !important;
      }
      .migas-de-pan__separador--form {
          color:#bebebe !important;
          margin-right: 5px;
          margin-left: 5px;
      }
  }
}
.format{
  width:100%;
  position:relative;
}
.hero--form {
    overflow: hidden;
    background-image: none;
    margin-top: -44px;
    position: relative;
    display: block;

    .hero__img--form {
        position: absolute;
        display: block;
    }



    .hero__titulo {
        z-index: 999;
        padding-top: 30px;
        width:100%;
        display: block;
        text-align:center;
    }

    .hero__texto {
        z-index: 999;

    }



}

.contenido-form {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;


    .texto-form {
        text-align: center;
        padding: 50px 0;
        font-size: 18px;
    }

    .gform_wrapper {
        width: 80%;
        padding: 30px 50px;
        border: 1px solid $color-bordes-contenido;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top:50px;
        border-radius: 5px;

        .titulo-form { 
          font-weight:bold;
           font-size: 24px;
        } 
        input{
          margin:0 0 10px 0!important;
        }
        input, select {
          display: inline-block;
          border-radius:5px; 
          border:1px solid #ccc;
          color:#444;
          height:42px;
          padding:5px 7px !important;
        }
        select {
          cursor:pointer;
        }
        textarea{
          border-radius:5px; 
          border:1px solid #ccc;
        }
        input[type="submit"]{
          width:100%;
          background:#333;
          text-align:center;
          border:none;
          color:#fff;
          text-transform:uppercase;
        }
        .adjuntar {
            border: 1px dashed $color-borde-buscador;
            width: 100%;
            text-align: center;
            padding: 20px 0;

            .titulo-adjuntar {
                text-transform: uppercase;
                font-size: 18px;
                padding-bottom: 10px;
            }

            .archivo-adjuntar {
                display: block;
                margin: auto;
                width: 50%;
                padding-top: 10px;
            }
        }

        .btnTransparencia--form {
            width: 100%;
            margin-top: 20px;
            text-transform: uppercase;
            background: $color-btn-dark;
            border-color: $color-btn-dark;
        }

    }
}

    .titulo-404 {
      color: white;
      font-weight: 600;
      font-size: 76px;
   
    }

    .texto-404 {
      color: white;
      font-weight: 600;
      font-size: 24px;
  

    }

/* Seccion Contenido */

.hero__landing {
    overflow: hidden;
    position: relative;
    display: block;
    width:100%;
    background: rgba(0,0,0,1);
    .hero__img--landing {
        position: absolute;
        display: block; 
        width:100%;
        opacity: 0.7;
        img{
          width: 100%;
        }
    }
   .contenedor-organismos{
    padding-left: 20px;
     z-index: 999;
     width:100%;
    .hero__titulo {
       
        color: white;
        padding-top: 75px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
        width: 100%;
        font-weight: 800;
    }


    .hero__informacion {
        z-index: 999;
        color: white;
        display: block;
        padding-bottom: 20px;

      .icono-organismos{
        font-size: 14px;
        padding-bottom: 5px;
      } 
      a,
      span{
        color:#fff; 
      }
      .item-organismo {
          padding-right: 20px;
          padding-left: 5px;

      }
    }
  }

}

.navbar-organismos {
    background: $color-background-organismos;
    margin-top: -5px;
    margin-left: -135px; 

    .navbar-organismos--menu {
        background: transparent;  
        .dropdown-toggle::after {
            display: none;
        } 
        .nav-link-organismos { 
            color: white !important;
            text-transform: uppercase !important;
        } 
    }
    .collapse, 
    .navbar-collapse{
      padding:0;
    }
} 
.navbar-organismos--menu {
    background: transparent; 
    padding:5px 0;
    .navbar-collapse{
      align-items: flex-start
    }
    .nav-link{
      padding-left:0;
      span{
        font-size:14px;
      }
    } 
}
.consejo-de-la-magistratura__navbar {
  background: $color_cdm;
  a{
    &:active,
    &:focus{
      background: $color_cdm;
      color:#fff;
    }
  }
}
.ministerio-publico-de-la-defensa__navbar{
  background: $color_def;
  a{
    &:active,
    &:focus{
      background: $color_def;
      color:#fff;
    }
  }
}
.ministerio-publico-tutelar__navbar {
  background: $color_mpt;
  a{
    &:active,
    &:focus{
      background: $color_mpt;
      color:#fff;
    }
  }
}
.ministerio-publico-fiscal__navbar {
  background: $color_mpf;
  a{
    &:active,
    &:focus{
      background: $color_mpf;
      color:#fff;
    }
  }
}
.tribunal-superior-de-justicia__navbar {
  background: $color_tsj;
  a{
    &:active,
    &:focus{
      background: $color_tsj;
      color:#fff;
    }
  }
}

/* Interna contenido */

.migas-de-pan {
    background: $color-gris-contenido;
    padding: 10px;

    .migas-de-pan__item {
        a {
            text-decoration: none;
            color: black;
        }


    }

    .migas-de-pan__item--active {
        color: $color-gris-migapan;
    }
}

#interna-contenido {
    .titulo__contenido {
        padding: 50px 0 10px 0;
        font-weight: 800;
    }

    .texto__contenido {
        padding: 0 0 20px 0;
    }

    .acceder-informacion {
        padding: 20px;
        border: 1px solid $color-bordes-contenido;
        margin-bottom: 200px;
        border-radius: 5px;

        .titulo__acceso {
            font-weight: 600;
            margin-bottom:30px;
        }

        .nombre-recurso {
            margin-top: 30px;
            margin-bottom: 0;
        }

        .informacion-recurso {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .btnTransparencia--contenido {
            float:right;  
            background: $color-btn-dark;
            border-color: $color-btn-dark; 
            text-transform: uppercase;
            font-size: 13px;
            color: white;
            &:hover{
              background:rgb(104, 104, 104);
              border-color: rgb(104, 104, 104);
            }
        }
    }
}
.lista__categorias,
.lista__organismos,
.lista-formatos{
  padding:0;
  .facetwp-checkbox{
    margin:0 !important;
    padding-left:10px;
  }
}
#sidebar-contenido {
    background: $background-nav-busqueda;
    height: 100%;
    padding-left:20px;
    padding-bottom:30px;

    .titulo__sidebar-contenido {
        padding-top: 50px;
        padding-bottom: 5px;  
        border-bottom: 1px solid $color-bordes-contenido;
        font-size:20px
    }

    .lista__organismos {
        padding-left: 0;
        list-style: none;

         .elemento__organismos {
            list-style: none;
            padding: 5px;
            border: 1px solid transparent;

            a{
              color: #4A4A4C;
              &:hover{
                text-decoration: none;
              }
            }

/*             &:hover {
                background: #e0e0e0;
                border: 1px solid #e0e0e0;
                border-radius: 5px;
            } */

            .item__organismos {
                border-left: 4px solid;
                padding-left: 10px;
                text-decoration: none;
                color: #4A4A4C;
                font-size: 16px;
                line-height: 16px;
            }

            .item_tribunal-superior-de-justicia {
                border-color: $color_tsj;
            }

            .item_consejo-de-la-magistratura {
                border-color: $color_cdm;
            }

            .item_ministerio-publico-de-la-defensa {
                border-color: $color_def;
            }

            .item_ministerio-publico-fiscal {
                border-color: $color_mpf;
            }

            .item_ministerio-publico-tutelar {
                border-color: $color_mpt;
            }

        } 
    }
    .lista__categorias {
        .elemento__categorias {
            list-style: none;
            padding: 5px;
            border: 1px solid transparent;  


                .icono_categoria {
                    font-size: 20px;
                    padding-right: 15px;
                    line-height: 20px;
                }

                .item__categorias {
                  text-decoration: none;
                  color: #4A4A4C;
                  font-size: 16px;
                  line-height: 20px;
                }



            
        } 
    }

    .actas {
        margin-top: 10px; 

        a {
            text-decoration: underline;
            color: #4A4A4C;
            max-width:220px;
            display: block;

        }

    }

    .actualizacion { 
      padding: 0 0 5px 5px;
        .reloj-actualizacion {
            display: block; 
        }
    }

    .actualizacion__valor {  
        font-size: 16px;
        color:#4a4a4c;
        padding: 0 0 30px 5px;
        .fa-clock{
          font-size: 18px;
          margin-right:10px;
        }
    }

    .lista-formatos {
        padding-left: 0;
        list-style: none; 
 
        .elemento__formatos {
            list-style: none; 
            border: 1px solid transparent; 
            padding: 5px;

            .item__organismos {
                    border-left: 4px solid;
                    padding-left: 10px;
                    text-decoration: none;
                    color: #4A4A4C;
                    font-size: 16px;
                    line-height: 16px;
                }

                .item__organismos--tsj {
                    border-color: $color_tsj;
                }

                .item__organismos--cdm {
                    border-color: $color_cdm;
                }

                .item__organismos--def {
                    border-color: $color_def;
                }

                .item__organismos--mpf {
                    border-color: $color_mpf;
                }

                .item__organismos--mpt {
                    border-color: $color_mpt;
                }

                .icono-checkbox{
                  margin-right: 15px;
                  color: #4A4A4C;
                  font-size: 20px;
                }

                .icono-checkbox--pdf{
                  color: #980305;
                }

                .icono-checkbox--excel{
                  color: #086a1d;
                }

                .icono-checkbox--csv{
                  color: #055516;
                }

                .icono-checkbox--imagen{
                  color: #ae05a8;
                }

                .icono-checkbox--powerpoint{
                  color: #bc5a01;
                }

                .icono-checkbox--sitio-web{
                  color: #010101;
                }

                .icono-checkbox--word{
                  color: #07097a;
                }


            a {
                text-decoration: none;
                color: #4A4A4C;
                font-size: 16px;
                line-height: 16px;

                span {
                    padding-left: 10px;
                }
            }
        } 
    }
}


.hero_404 {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: 50% 0;
  margin-bottom: -50px;
 

    .hero__titulo {
      color: white;
      font-weight: 600;
      font-size: 76px;
      text-align: center;
      padding-top: 100px;
    } 

    .hero__texto {
      color: white;
      text-align: center;
      font-size: 24px;
  

    }

    .hero__buscador {
      max-width: 750px;
      padding-top: 20px;
      padding-bottom: 100px;
      margin: auto;

      .form-control {
        padding: 22px;
      }

      button {
        background: white;
        border: 1px solid white;
      }
    }
  
}

/* Contenido Estático */

.migas-de-pan--estatico {
    background: $color-gris-contenido;

}

.contenido-estatico {
    width: 50%;
    display: block;
    margin: auto;
    padding: 50px 0;

    .titulo-estatico {
        text-align: center;
        margin-bottom: 50px;
            font-size: 36px;
    margin: auto;
    }
}




@media (max-width: 768px) {

  .contenido-estatico {
      width: 100%;
      display: block;
      margin: auto;
      padding: 50px 20px;
  
      .titulo-estatico {
          text-align: center;
          margin-bottom: 50px;
              font-size: 36px;
      margin: auto;
      }
  }
    .hero {
        .row {
            margin-right: 20px;
            margin-left: 20px;
            .hero__titulo {
                text-align: center;
                font-size:32px;
            }
        }
    }
    .contenido-form .gform_wrapper{
      padding: 0 20px;
      margin:0;
      width:100%;
    }

    .accesos-directos {

        .accesos-directos__img--bottom--1 {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }

        .accesos-directos__img--bottom--2 {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }

    }

    .ley-104 { 
      text-align: center;
        .ley-104__texto {
            margin-bottom: 20px;
            strong{
              font-size: 24px;
              display: block;
            }
        }

        .btn-descargar {
            float: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }

        .btn-ver {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    }

    .contenido-form {
    width: 90%;}

    .hero--form {
           margin-top: -44px; 

    .hero__img--form {
      img{
        height: 618px;
      }
    }


  }
  .footer-top{
    .widget_media_image{
      width:270px;
      margin: auto;
    }
  }
  .hero__img--landing{
    img{
        height: 618px;
      }

  }

  .contenido-form .container-form {
    width: 100%;
  }

.gform_wrapper {
    padding-top: 50px;
}

.navbar-organismos {
  
    margin-left: 0;
    }
}

@media (max-width: 395px) {
      .hero--form {
     margin-top: -69px; 
  }
}

.facetwp-checkbox {
    background: none!important;
    list-style: none!important;
    padding: 10px!important;
    border: 1px solid transparent!important;
    margin-top: 10px!important;
    margin-left: 20px!important;
    text-decoration: none!important;
    color: #4A4A4C!important;
    font-size: 16px!important; 

                    .item__organismos {
                    border-left: 4px solid;
                    padding-left: 10px;
                    text-decoration: none;
                    color: #4A4A4C;
                    font-size: 16px;
                    line-height: 16px;
                }

                .item__organismos--tsj {
                    border-color: $color_tsj;
                }

                .item__organismos--cdm {
                    border-color: $color_cdm;
                }

                .item__organismos--def {
                    border-color: $color_def;
                }

                .item__organismos--mpf {
                    border-color: $color_mpf;
                }

                .item__organismos--mpt {
                    border-color: $color_mpt;
                }

                .icono-checkbox{
                  margin-right: 10px;
                  color: #4A4A4C;
                  font-size: 16px;
                }

                .icono-checkbox--pdf{
                  color: #980305;
                }

                .icono-checkbox--excel{
                  color: #086a1d;
                }

                .icono-checkbox--csv{
                  color: #055516;
                }

                .icono-checkbox--imagen{
                  color: #ae05a8;
                }

                .icono-checkbox--powerpoint{
                  color: #bc5a01;
                }

                .icono-checkbox--sitio-web{
                  color: #010101;
                }

                .icono-checkbox--word{
                  color: #07097a;
                }
  
}

  .facetwp-checkbox:hover {
  background: #e0e0e0!important;
  border: 1px solid #e0e0e0!important;
  border-radius: 5px!important;
}

.facetwp-checkbox.checked {
  background: #e0e0e0!important;
  border: 1px solid #e0e0e0!important;
  border-radius: 5px!important;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}

.collapse .navbar-collapse{
      list-style: none !important;
      margin-top: auto;
      margin-bottom: auto;
      padding:0;
  .nav-link {
      color: white;
      text-transform: uppercase;
    }
}

.form-control:focus{
  box-shadow: none !important;
}
.dataset .ley-104{
  padding-top:40px;
}
.single-dataset{
  .migas-de-pan{
    a{
      color:#444;
    }
  } 
}
.btn:active,
.btn:focus {
   outline: none !important;
   box-shadow: none !important;
}
.facetwp-selections ul {
    margin:15px 0;
    padding:0;
}
.facetwp-facet{
  margin-bottom:10px !important;
}
.facetwp-selection-label{
  display: none;
}
.facetwp-selection-value{
  background:#eee;
  border-radius:25px;
  line-height: 18px;
  height: 30px;
  padding:5px 25px 5px 10px !important;
  margin:0 0 10px 0;
  background-position: right 7px center !important;
  &:hover{
    background:#ddd;
  }
}
.widget-categorias {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .bloques-organismos {

    &:nth-child(1) {
      margin-left: 100px;
    }

    &:nth-child(2) {
      margin-right: 100px;
    }
  }
}